@import "tailwindcss";

:root {
  --rosa-mexicano: #E91E63;
  --azul-maya: #00BCD4;
}

@layer base {
  body {
    @apply antialiased;
  }
}

@theme {
  --color-welcome-primary: #7f13ec;
  --color-welcome-bg-light: #f7f6f8;
  --color-welcome-bg-dark: #191022;

  --color-victory-primary: #2bee6c;
  --color-victory-bg-light: #f6f8f6;
  --color-victory-bg-dark: #102216;

  --font-display: "Space Grotesk", sans-serif;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(40px) rotate(5deg);
  }

  to {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}